h1, h2, h3, h4, h5{
	font-weight: normal;
}
/* aside */
aside {
	float: left;
	width: 25%;
	height: 600px;
	border: 1px solid #000;
	border-right: 0px;
}
aside li{
	border: 1px solid #000;
	list-style: none;
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
aside li:hover {
	background-color: #cccccc;
	border-radius: 20px;
	cursor: pointer;
}

/* section */
section {
	width: 75%;
	height: 1275px;
	text-align: left;
	padding: 0px;
	border: 1px solid #000;
	float: left;
	overflow-y: scroll;
}
section > div > div {
	float: left;
}
section::-webkit-scrollbar {
	display: none;
}
.title-1{
	text-align: center;
	font-size: 30px;
}
.title-2{
	border: 5px dashed #000;
	border-radius: 10px;
	color: #232222;
	padding: 10px 0px 10px 0px;
}
.part{
	width: 50%;
	float: left;
	text-align: center;
}
.part *{
	width: 90%;
	border-radius: 10px;
	display: inline-block;
	border-radius: 15px;
}
.tag{
	font-size: 20px;
}


