/* aside */
aside{
    float: left;
    width: 25%;
    height: 800px;
    border: 1px solid #000;
}
/* section */
section{
    width: 75%;
    height: 1300px;
    text-align: left;
    padding:0px;
    border: 1px solid #000;
    float: left;
    overflow: scroll;
}

#box{
    width: 306px;
    height:300px;
    margin: 0px 15px 0px 15px; 
    padding: 5px 15px 25px 15px;
    float: left;
}
#boxtitle{
    border: solid 1px #cccccc;
    width: 64px;
    padding: 0px 10px 0px 10px;
    margin: 5px 140px 5px 140px;
    float: left;
    border-bottom: 2px solid;
}
div ul{
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 5px;
    text-align: center;
}


ul, li{
list-style: none;
}
a li{
     padding-left: 10px;
    }
    a li:hover{
    background-color: #cccccc;
    border-radius: 20px; 
    }
