/* header */
header{
    width: 100%;
}
.main-logo{
    font-size: 60px;
    font-family: 'Kdam Thmor Pro';
}
.login,.singUp{
   font-size: 20px;
}
header > div{
    float: right;
    margin-top: 60px;
}
/* nav */
nav{
    float: left;
    font-size:20px;
    width: 1200px;
    height:70px;
    border: solid 5px #cccccc;
    font-weight: bold;
}
nav li{
    display: inline;
    margin: 0px 150px;
    position: relative; 
}
nav li::after{
    position: absolute; 
    top: 0px; left: -15px; 
    width: 130%; 
    height: 25px; 
    padding:0px 3px 3px 3px;
    line-height: 40px; 
    content: attr(title); 
    color: #000000; 
    border: 2px solid #000; 
    max-width: 0; 
    overflow: hidden; 
    transition: all 0.5s;
}
nav li:hover::after{
    max-width: 130%;
}