/* header */
header{
    width: 1200px;
    margin-left: 20%;
    margin-right: 20%;
}
.main-logo{
    font-size: 60px;
}
.login,.singUp{
   font-size: 20px;

}
header > div{
    float: right;
    margin-top: 60px;
}