/* aside */
aside{
    float: left;
    font-size:32px;
    width: 1200px;
    margin: 0px 20% auto;
    position: sticky;
    top:0px;
    text-align: left;
    background: linear-gradient(45deg,#FB412C,#C6272C,#D94446,#E3536C,#E3536C,#E3536C,#c03121,#cf6265);
    border-left: solid 3px #cccccc;
    border-right: solid 3px #cccccc;

}
aside li{
    text-align: center;
    display: inline;
    margin: 0px 80px;
    position: relative; 
    padding: 0;}

aside li::after{
    position: absolute; 
    top: 5px; left: 0; 
    width: 100%; 
    height: 40px; 
    line-height: 40px; 
    content: attr(title); 
    color: #000000; 
    border-bottom: 2px solid #000; 
    max-width: 0; 
    overflow: hidden; 
    transition: all 0.5s;
}
aside li:hover::after{max-width: 100%;}
/* section */
section{
    width: 1200px;
    height: 8000px;
    margin-left:20%;
    border:5px solid #cccccc;
    text-align: center;
    padding: 0px 50px 0px 50px;

}
/* .kor{
    font-family: 'Noto Serif Korean';
    font-size:15px;
    font-weight:600;
    line-height:30px;
    float: left;

} */
.korb{
    font-size:20px;
    font-weight:600;
    line-height:50px;
    float: left;
    width: 1100px;
}





.small{
    font-size: 15px;
    text-align: center;
    margin:0px;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    width: 100% ;
    float: left;   
}
/* #box{
    width: 306px;
    height:300px;
    margin: 0px 15px 0px 15px; 
    padding: 5px 15px 25px 15px;
    float: left;
}
#boxtitle{
    border: 1px solid #000;
    width: 64px;
    padding: 0px 10px 0px 10px;
    margin: 5px 140px 5px 140px;
    float: left;
    border-bottom: 2px solid;
} */
div ul{
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 5px;
    text-align: center;
}
#top {
    position: sticky;
    bottom: 0px;
    left: 1600px;
}
a{
 color:#000;
}
a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color: #000;
}
#fake{
    visibility: hidden;
}

.part{
    border: 1px dashed #000;
    width: 360px;
    height: 500px;
    float: left;
}