/* nav */
nav{
    float: left;
    font-size:20px;
    margin: 10px 20% auto;
    width: 1200px;
    height:70px;
    border: solid 5px #cccccc;
    font-weight: bold;
}
nav li{
    display: inline;
    margin: 0px 110px;
    position: relative; 
}
nav li::after{
    position: absolute; 
    top: 0px; left: -15px; 
    width: 130%; 
    height: 25px; 
    padding:0px 3px 3px 3px;
    line-height: 40px; 
    content: attr(title); 
    color: #000000; 
    border: 2px solid #000; 
    max-width: 0; 
    overflow: hidden; 
    transition: all 0.5s;
}
nav li:hover::after{
    max-width: 130%;
}