@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Noto+Serif+KR:wght@500&display=swap');


*{
    font-family: 'Kdam Thmor Pro'; 
}
section{
    margin-left:20%;
    border:1px solid #cccccc;
    width: 1200px;
    height: 350px;
    text-align: left;
    padding:0px;

}
.kor{
    font-family: 'Noto Serif Korean';
    font-size:15px;
    font-weight:600;
    line-height:30px;
    float: left;

}
nav{
    font-size:20px;
    margin: 10px 20% auto;
    width: 1200px;
    height:70px;
    border: solid 5px #cccccc;
    font-weight: bold;

}
nav li{
    display: inline;
    margin: 0px 110px;
}

.small{
    font-size: 15px;
    text-align: center;
    margin:0px;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    width: 100% ;
    float: left;   
}
#box{
    width: 306px;
    height:300px;
    margin: 0px 15px 0px 15px; 
    padding: 5px 15px 25px 15px;
    float: left;
}
#boxtitle{
    border: solid 1px #cccccc;
    width: 64px;
    padding: 0px 10px 0px 10px;
    margin: 5px 140px 5px 140px;
    float: left;
    border-bottom: 2px solid;
}
div ul{
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-bottom: 5px;
    text-align: center;
}
a{
 color:#000;
}
a:link{
    color:#000;
    text-decoration: none;
}
a:visited{
    color: #000;
}

iframe{
    height: 350px;
    border: 0px;
    border-right: 3px solid #ccc;
}
.if2{
    width: 885px;
    border: 0px;
}
section{
    border:5px solid #ccc;
}